body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  overflow-x: hidden;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #0f172a, #1e293b, #111827);
  z-index: -1;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  text-align: center;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  margin: 15px 0;
  border-radius: 20px;
  backdrop-filter: blur(15px);
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: #22d3ee;
  cursor: pointer;
}
